<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hotelbooking">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelBooking"
        tools:targetApi="31">

        <!-- Splash screen: app launcher -->
        <activity
            android:name=".component.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.HotelBooking">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication screens -->
        <activity android:name=".view.LoginActivity" android:exported="true" />
        <activity android:name=".view.RegistrationActivity" android:exported="true" />
        <activity android:name=".view.ForgetPasswordActivity" android:exported="true" />

        <!-- Dashboards -->
        <activity android:name=".view.UserDashboardActivity" android:exported="true" />
        <activity android:name=".view.admin.AdminDashboardActivity" android:exported="true" />

        <!-- Product management (admin) -->
        <activity android:name=".view.admin.AddProductActivity" android:exported="true" />

        <!-- Other app navigation -->
        <activity android:name=".component.NaviigationActivity" android:exported="true" />

        <!-- MainActivity (for possible deep link/entry point) -->
        <activity android:name=".MainActivity" android:exported="true" />

    </application>
</manifest>
